.Header{
  background-color : rgb(4, 78, 78);
  border-style: solid;
  text-align: center;

}
.Table{
  padding-top: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}